{{!-- todo: check create post handlebars --}}

{{!-- todo: see how this renders --}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-input" type="text" id="title" name="title" />
      </div>
      <div class="form-group">
        <label for="post_content">Content</label>
        <textarea class="form-input" id="post_content" name="post_content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/profile.js"></script>
