{{!-- todo: check login handlebars --}}

<div class="column">

{{!-- renders the login section --}}
  <h2 class="title pb-4">Login</h2><hr>
    <form class="login-form">
      <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login"/>
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login"/>
      </div>
      <div>
        <button class="btn is-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

{{!-- renders the sign up section --}}
  <div class="column">
    <h2 class="title pb-4">Sign Up</h2><hr>
    <form class="signup-form">
      <div>
        <label for="username-signup">Name:</label>
        <input type="text" id="username-signup"/>
      </div>
      <div >
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup"/>
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup"/>
      </div>
      <div>
        <button class="btn is-primary" type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
{{!-- todo: tie these to one sheet --}}
<script src="/javascript/signup.js"></script>
