{{!-- todo: build signup handlebars --}}


{{!-- Is this need if the sign up option is on the login screen??? --}}


<form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div class="wrapper">
        <button class="btn btn-success btn-lg" type="submit">Sign up and log in!</button>
    </div>
</form>
<!-- Only added to this handlebar as is where the logic is required for logging in -->
<!-- Absolute path requiered in back end as js code is not to be sent to the client -->
<script src="/javascript/sign-up.js"></script>

