{{!-- todo: signup handlebars - is this needed with new combined screen???--}}


{{!-- Is this needed if the sign up option is on the login screen??? --}}
{{!-- <form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div class="wrapper">
        <button class="btn btn-success btn-lg" type="submit">Sign up and log in!</button>
    </div>
</form>

<script src="/javascript/sign-up.js"></script> --}}

